{% extends "base.html" %} 
<!-- Extending the base HTML template -->
{% block title %}Sign Up{% endblock %}
<!-- Setting the title of the page within the 'title' block -->
{% block content %}
<!-- Defining the 'content' block -->
<div class="container">
<!--overall container for information-->
    <div class="content-section">
    <!-- Container for the content -->
        <form method="POST" action="">
        <!-- Form for updating a post, using the POST method -->
            {{ form.hidden_tag() }}
            <!-- Hidden tag for CSRF protection -->
            <fieldset class="form-group">
            <!-- Fieldset for the form content -->
                <br>
                <h1 align="center">{% block header %}Sign Up Today{% endblock %}</h1>
                <!-- Title for the form section -->
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    <!-- Displaying the label for the title field -->
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <!-- Displaying the title input field with error styling -->
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                <!-- Displaying the error messages for title validation -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                        <!-- Displaying the title input field normally -->
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    <!-- Displaying the label for the title field -->
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <!-- Displaying the title input field with error styling -->
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                <!-- Displaying the error messages for title validation -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                        <!-- Displaying the title input field normally -->
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    <!-- Displaying the label for the title field -->
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <!-- Displaying the title input field with error styling -->
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                <!-- Displaying the error messages for title validation -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                        <!-- Displaying the title input field normally -->
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    <!-- Displaying the label for the title field -->
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <!-- Displaying the title input field with error styling -->
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                                <!-- Displaying the error messages for title validation -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                        <!-- Displaying the title input field normally -->
                    {% endif %}
                </div>
            </fieldset>
        </br>
        <div align="center">
            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-xl") }}
                <!-- Displaying the submit button in the center form -->
            </div>
        </div>
        </form>
    </div>
    <br>
    <div align="center">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('auth.login') }}">Sign In</a>
        </small>
        <!-- a link for those that have an account and do not notice the login button in the NavBar -->
    </div>
</div>
{% endblock content %}