{% extends "base.html" %}
{% block title %}Add another Product{% endblock %}
{% block content %}
<h1 align="center">Add Another Product?</h1>
<br/>
<div class="container">
    <div align="center">
        <a class="btn btn-primary btn-xl" href="/products">Products Page</a>
    </div>
    </br>
    <div align="center">
        <a class="btn btn-primary btn-xl" href="/hire">Hire Another Product</a>
    </div>
    </br>
    <div align="center">
        <a class="btn btn-primary btn-xl" href="/home">Home Page</a>
    </div>
    </br>
</div>
{% endblock %}